#add-new-car{
    margin: 0 280px 40px 80px;
}

#add-new-car label {
    font-size: larger;
}


#add-new-car input{
    padding: 10px;
}

#add-new-car-form{
    display: flex;
}

#plus-image{
    height: 200px;
    border: 2px solid gray;
    border-radius: 20px;
}

#input-main-photo{
    display: none;
}