body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.centered-text {
  text-align: center;
}

.error-text {
  color: red;
  padding: 0;
  margin: 0;
}

.blue-text {
  color: blue;
}

.green-text {
  color: green;
}

#page-content {
  margin: 20px 3.5% 60px 3.5%;
  min-height: 400px;
  font-size: 1.2rem;
}

a.no-decoration-link {
  text-decoration: none;
  color: black;
}

.unstyled-list {
  list-style: none;
  font-style: normal;
}

.icon-text-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

textarea {
  resize: none;
}

.down-arrow {
  transition: transform 0.5s ease;
}

.down-arrow-up {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.default-button {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.bg-green {
  background-color: green !important;
}

.bg-red {
  background-color: red !important;
}
