#profile-info-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.profile-info-item {
  border: 1px solid gray;
  padding: 25px;
}

.profile-info-button-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.edit-add-profile-item-button {
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.profile-car-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-car-item {
  padding: 10px 20px 10px 0;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#logout-button {
  margin-top: 30px;
  padding: 15px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  background-color: black;
}
