header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    border-bottom: 1px solid gray;
}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
}

header li {
    display: block;
    padding: 10px;
}

header  a {
    text-decoration: none;
    color: black;
}

#sign-in{
    background-color: brown;
    border-radius: 20px;
}

#sign-up{
    background-color: blue;
    border-radius: 20px;
}

#sign-in span, #sign-up span{
    color: white;
}